/*! ARTICLE CHOOSE TEA */

.box-choose-tea {
  border-top: 2px dashed #000;

  &--white-tea {
    border-bottom: 2px dashed #000;
  }

  &__title {
    padding: 25px 20px 20px 20px;
    @include titleSection();
    @include handleTextProperty(500, center);
    letter-spacing: 1px;
  }
}

.look-choose-tea {
  &__image {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

.read-choose-tea {
  &__text {
    margin: 20px auto;
    width: 80%;
    text-align: justify;
    @include text();
    line-height: 26px;
  }
}

.taste-tea {
  @include handleFlex(row, space-around, space-around);
  flex-wrap: wrap;
  padding-bottom: 15px;
  height: 45vh;
  background-color: #fff;

  &__title {
    flex-basis: 100%;
    margin: 12px auto 22px auto;
    @include subtitle();
    @include handleTextProperty(600, center);
    letter-spacing: 1px;
  }
}

.box-select-taste-tea {
  flex-basis: 90%;
  @include handleFlex(row, space-around, space-around);
  flex-wrap: wrap;
  height: 33vh;
}

.select-taste-tea {
  flex-basis: 28%;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 5px;
  @include handlePositionLeft(relative, 0, 0);
  height: 13vh;
  text-align: center;

  &--black-tea {
    box-shadow: $sizeBoxShadow #000;
  }

  &--green-tea {
    box-shadow: $sizeBoxShadow #7a9661;
  }

  &--red-tea {
    box-shadow: $sizeBoxShadow #bb5e63;
  }

  &--white-tea {
    box-shadow: $sizeBoxShadow #d8ba74;
  }

  &__image {
    @include handleCenteringItems();
  }
}

.order-choose-tea {
  &__btn {
    display: block;
    margin: 20px auto;
    border: 2px solid #000;
    padding: 8px 60px;
    @include clickItem();
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &--black-tea {
      background-color: $gray;
    }

    &--green-tea {
      background-color: $lightGreen;
    }

    &--red-tea {
      background-color: $rose;
    }

    &--white-tea {
      background-color: $sunny;
    }
  }
}

.price-teas {
  margin-bottom: 25px;

  &__title {
    margin: 20px;
    padding: 10px;
    @include subtitle();
    @include handleTextProperty(600, center);
    letter-spacing: 1px;

    &--black-tea {
      background-color: rgba(220, 213, 213, 0.53);
    }

    &--green-tea {
      background-color: rgba(217, 234, 200, 0.53);
    }

    &--red-tea {
      background-color: rgba(253, 208, 200, 0.53);
    }

    &--white-tea {
      background-color: rgba(251, 223, 155, 0.53);
    }
  }

  &__arrow {
    margin: 0 5px;
    font-size: 1.7rem;
  }
}

.price-list {
  &__box {
    @include handleFlexShort(row);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px auto 10px auto;
    padding: 10px;
    width: 70%;
    text-align: center;

    &--white-tea {
      background-color: rgba(253, 237, 200, 0.42);
    }

    &--red-tea {
      background-color: rgba(249, 238, 236, 0.84);
    }

    &--green-tea {
      background-color: rgba(227, 234, 219, 0.62);
    }

    &--black-tea {
      background-color: rgba(230, 230, 230, 0.62);
    }
  }

  &__item {
    flex-basis: 50%;
    @include text();
    line-height: 20px;
  }

  &__extra-order {
    margin: 15px auto;
    width: 90%;
    @include text();
    text-align: center;
  }

  &__discount {
    @include text();
    text-align: center;
  }
}

// @MEDIA

// mobile

@media (min-width: 360px) {
  .read-choose-tea {
    &__text {
      width: 82%;
      line-height: 29px;
    }
  }

  .select-taste-tea {
    height: 12vh;
  }

  .order-choose-tea {
    &__btn {
      padding: 10px 65px;
    }
  }

  .price-list {
    &__box {
      padding: 12px;
      width: 75%;
    }
    &__item {
      line-height: 22px;
    }
  }
}

@media (min-width: 480px) {
  .look-choose-tea {
    &__image {
      width: 55%;
    }
  }

  .read-choose-tea {
    &__text {
      margin: 25px auto;
      width: 71%;
      line-height: 32px;
    }
  }

  .taste-tea {
    margin-top: 10px;
    height: 38vh;
  }

  .box-select-taste-tea {
    margin-top: 15px;
    flex-basis: 80%;
    height: 28vh;
  }

  .select-taste-tea {
    height: 10vh;
  }

  .order-choose-tea {
    &__btn {
      padding: 14px 80px;
      letter-spacing: 2px;
    }
  }

  .price-teas {
    &__title {
      padding: 15px;
      letter-spacing: 2px;
      &__arrow {
        font-size: 1.9rem;
      }
    }
  }

  .price-list {
    &__box {
      width: 65%;
    }
    &__extra-order {
      margin: 16px auto;
      width: 70%;
    }
  }
}

@media (min-width: 720px) {
  .box-choose-tea {
    &__title {
      padding-top: 30px;
      padding-bottom: 30px;
      letter-spacing: 2px;
    }
  }

  .look-choose-tea {
    &__image {
      width: 40%;
    }
  }

  .read-choose-tea {
    &__text {
      width: 74%;
      line-height: 35px;
    }
  }

  .taste-tea {
    height: 26vh;
  }

  .box-select-taste-tea {
    height: 20vh;
    flex-basis: 75%;
  }

  .select-taste-tea {
    flex-basis: 26%;
    height: 7vh;
  }

  .order-choose-tea {
    &__btn {
      margin: 25px auto;
    }
  }

  .price-teas {
    &__title {
      margin: 25px auto;
      &__arrow {
        margin: 0 8px;
        font-size: 2rem;
      }
    }
  }

  .price-list {
    &__box {
      width: 48%;
    }
    &__item {
      line-height: 26px;
    }
    &__extra-order {
      width: 45%;
      line-height: 24px;
    }
  }
}

// landscape

@media (min-width: 480px) and (orientation: landscape) {
  .look-choose-tea {
    &__image {
      width: 45%;
    }
  }

  .read-choose-tea {
    &__text {
      width: 74%;
      line-height: 28px;
    }
  }

  .taste-tea {
    height: 65vh;
    &__title {
      margin: 15px;
    }
  }

  .box-select-taste-tea {
    flex-basis: 80%;
    height: 50vh;
  }

  .select-taste-tea {
    height: 18vh;
  }

  .order-choose-tea {
    &__btn {
      margin-top: 30px;
      padding: 12px 80px;
      line-height: 17px;
    }
  }

  .price-teas {
    &__title {
      padding: 10px;
    }
  }

  .price-title {
    padding: 10px;
    &__arrow {
      font-size: 1.7rem;
    }
  }

  .price-list {
    &__box,
    &__extra-order {
      width: 60%;
    }
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .look-choose-tea {
    &__image {
      width: 30%;
    }
  }

  .read-choose-tea {
    &__text {
      width: 67%;
      line-height: 32px;
    }
  }

  .box-select-taste-tea {
    flex-basis: 72%;
    height: 45vh;
    margin-top: 20px;
  }

  .select-taste-tea {
    flex-basis: 26%;
    height: 16vh;
  }

  .order-choose-tea {
    &__btn {
      margin-top: 15px;
      padding: 14px 90px;
      line-height: 19px;
    }
  }

  .price-list {
    &__box {
      width: 45%;
    }
    &__extra-order {
      width: 42%;
    }
  }
}

// tablet/desktop

@media (min-width: 1024px) {
  .box-choose-tea {
    @include handleFlexShort(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    @include handlePositionLeft(relative, 0, 0);

    &__title {
      order: 1;
      flex-basis: 100%;
      padding-top: 35px;
      padding-bottom: 20px;
    }
  }

  .look-choose-tea {
    order: 2;
    flex-basis: 30%;
    margin-bottom: 30px;
    @include handlePositionLeft(relative, 0, 0);
    height: 35vh;

    &__image {
      margin-left: 20px;
      @include handleCenteringItems();
      width: 75%;
      box-shadow: 1px 0 6px 0 #000;
    }
  }

  .read-choose-tea {
    order: 3;
    flex-basis: 60%;
    margin-bottom: 30px;
    @include handlePositionLeft(relative, 0, 0);
    height: 35vh;

    &__text {
      margin: 0 auto;
      @include handleCenteringItems();
      @include handleSize(88%, 25vh);
      line-height: 32px;
      text-align: justify;
    }

    /*! leave price => hide text */
    &.on {
      flex-basis: 70%;
      display: none;
    }
  }

  .price-teas {
    order: 4;
    flex-basis: 10%;
    @include handleFlexShort(row);
    justify-content: space-between;
    margin-bottom: 30px;
    @include handlePositionLeft(relative, 0, 0);
    height: 35vh;

    /*! leave price*/
    &.on {
      flex-basis: 70%;
    }

    &__title {
      order: 2;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 0 45px 0 0;
      @include handlePositionRight(absolute, 0, 0);
      height: 100%;
      cursor: pointer;

      &.animate {
        animation: shake 1.5s linear;
      }
    }

    @keyframes shake {
      0% {
        transform: translateX(-5%);
      }

      15% {
        transform: translateX(5%);
      }

      30% {
        transform: translateX(-5%);
      }

      45% {
        transform: translateX(5%);
      }

      60% {
        transform: translateX(-5%);
      }

      80% {
        transform: translateX(-3%);
      }

      90% {
        transform: translateX(-1%);
      }

      100% {
        transform: translateX(0);
      }
    }

    &__arrow {
      margin: 12px 8px;
      font-size: 1.9rem;
      transition: transform 0.5s;
    }

    &__title:hover &__arrow--top {
      transform: scale(1.2) translateY(-35%);
    }

    &__title:hover &__arrow--bottom {
      transform: scale(1.2) translateY(35%);
    }

    &__title--black-tea:hover &__arrow {
      color: #528298;
    }

    &__title--green-tea:hover &__arrow {
      color: #628245;
    }

    &__title--red-tea:hover &__arrow {
      color: #af5b4a;
    }

    &__title--white-tea:hover &__arrow {
      color: #98803a;
    }
  }

  .price-list {
    order: 1;
    display: none;

    &.on {
      @include handleFlexShort(column);
      justify-content: space-between;
      margin: 0;
      @include handleCenteringY();
      @include handleSize(90%, 24vh);
    }

    &__box {
      margin: 0 auto;
      width: 55%;
    }

    &__extra-order {
      margin: 0 auto;
      width: 60%;
    }
  }

  .order-choose-tea {
    order: 5;
    flex-basis: 100%;

    &__btn {
      padding: 16px 100px;
      border: none;
      @include handlePositionLeft(relative, 0, 0);
      font-weight: 600;
      line-height: 21px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s;
      }

      &--black-tea::after {
        border: 4px solid $gray;
      }

      &--green-tea::after {
        border: 4px solid $lightGreen;
      }

      &--red-tea::after {
        border: 4px solid $rose;
      }

      &--white-tea::after {
        border: 4px solid $sunny;
      }

      &:hover::after {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
      }
    }
  }

  .separating-line--choose-tea {
    display: none;
  }

  .taste-tea {
    order: 7;
    flex-basis: 100%;
    border-top: 3px double #000;
    height: 30vh;
    &__title {
      margin-top: 40px;
    }
  }

  .box-select-taste-tea {
    flex-basis: 80%;
    height: 18vh;
  }

  .select-taste-tea {
    flex-basis: 15%;
    height: 9vh;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      display: block;
      width: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.2s ease-in-out;
    }

    &::before {
      content: "";
      @include handlePositionLeft(absolute, 0, 0);
      height: 100%;
    }

    &::after {
      content: attr(name-tea);
      @include handleCenteringItems();
      font-family: $fontMainTitle;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      @include handleFontSpacing(1.9rem, 1px);
    }

    &:hover::after,
    &:hover::before {
      opacity: 1;
    }

    &--black-tea::before {
      background-color: rgb(220, 213, 213);
    }

    &--green-tea::before {
      background-color: rgb(217, 234, 200);
    }

    &--red-tea::before {
      background-color: rgb(253, 208, 200);
    }

    &--white-tea::before {
      background-color: rgb(251, 223, 155);
    }
  }
}

@media (min-width: 1200px) {
  .box-choose-tea {
    margin: 0 auto;
    width: 90%;
  }

  .look-choose-tea {
    height: 40vh;
    &__image {
      width: 72%;
    }
  }

  .read-choose-tea {
    height: 40vh;
    &__text {
      height: 30vh;
      line-height: 36px;
    }
  }

  .price-teas {
    height: 40vh;
  }

  .price-list {
    &.on {
      height: 26vh;
    }
  }

  .taste-tea {
    height: 35vh;
  }

  .select-taste-tea {
    flex-basis: 14%;
    height: 10vh;
    &::after {
      font-size: 2rem;
    }
  }

  .order-choose-tea {
    &__btn {
      padding: 16px 120px;
    }
  }
}

@media (min-width: 1440px) {
  .box-choose-tea {
    width: 84%;
  }

  .look-choose-tea {
    height: 33vh;
  }

  .read-choose-tea {
    height: 33vh;
    &__text {
      @include handleSize(80%, 22vh);
    }
  }

  .order-choose-tea {
    &__btn {
      margin: 50px auto 35px auto;
      line-height: 22px;
    }
  }

  .taste-tea {
    height: 28vh;
  }

  .select-taste-tea {
    height: 9vh;
  }

  .price-teas {
    height: 33vh;
  }

  .price-list {
    &.on {
      height: 20vh;
    }

    &__extra-order {
      width: 59%;
    }
  }
}
