* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
  font-family: "Raleway", arial, sans-serif;
}

.main-section {
  @include handlePositionLeft(relative, 10vh, 0);
}

.separating-line {
  display: flex;
  justify-content: center;

  &__item {
    margin: 10px;
    position: relative;
    font-size: 1.3rem;
  }
}

// @MEDIA

// mobile

@media (min-width: 480px) {
  .separating-line {
    &__item {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 720px) {
  .separating-line {
    &__item {
      font-size: 1.6rem;
    }
  }
}

// landscape

@media (min-width: 480px) and (orientation: landscape) {
  .separating-line {
    &__item {
      font-size: 1.4rem;
    }
  }
}

// tablet/desktop

@media (min-width: 1440px) {
  .main-section {
    @include maxWidth();
  }
}
