/*! FOOTER */

.copyright {
  border-top: 2px solid #000;
  padding: 10px;
  @include handlePositionLeft(relative, 10vh, 0);
  background-color: $darkGray;

  &__text {
    text-align: center;
    font-size: 1.4rem;
    line-height: 16px;
  }
  &__link {
    color: #000;
  }
}

// @MEDIA

// mobile

@media (min-width: 720px) {
  .copyright {
    padding: 15px;

    &__text {
      font-size: 1.6rem;
      line-height: 20px;
    }
  }
}

// landscape

@media (min-width: 800px) and (orientation: landscape) {
  .copyright {
    &__text {
      font-size: 1.5rem;
    }
  }
}

// tablet/desktop

@media (min-width: 1024px) {
  .copyright {
    &__text {
      font-size: 1.6rem;
    }
  }
}
