/*! SECTION ABOUT US */
.section-about-us {
  padding-bottom: 25px;

  &__title {
    padding: 20px;
    @include titleSection();
    @include handleTextProperty(500, center);
  }

  &__image-mobile {
    display: block;
    width: $widthItemsSection;
    margin: 0 auto;
  }

  &__image-desktop {
    display: none;
  }

  &__text {
    margin: $marginItemsSection;
    width: $widthItemsSection;
    @include text();
    line-height: 26px;
    text-align: justify;
  }

  &__image-text {
    display: block;
    margin: $marginItemsSection;
    width: $widthItemsSection;
  }
}

.photo-gallery {
  margin: 20px;

  &__image {
    display: block;
    margin: $marginItemsSection;
    width: 98%;
    &--vertical {
      display: none;
    }
  }
}

.about-us-video {
  &__title {
    width: 95%;
    @include subtitle();
    line-height: 20px;
    @include handleTextProperty(600, center);
    margin: $marginItemsSection;
  }

  &__src {
    display: block;
    margin: 0 auto;
    border: 2px solid #000;
    width: 90%;
  }
}

// @MEDIA

// mobile

@media (min-width: 360px) {
  .section-about-us {
    &__text {
      width: 80%;
      line-height: 30px;
    }

    &__image-text {
      width: 80%;
    }
  }

  .photo-gallery {
    &__image {
      width: 95%;
    }
  }

  .about-us-video {
    &__title {
      width: 74%;
      line-height: 24px;
    }

    &__src {
      width: 85%;
    }
  }
}

@media (min-width: 480px) {
  .section-about-us {
    padding-bottom: 30px;

    &__title {
      padding: 25px;
    }

    &__text {
      width: 70%;
      line-height: 32px;
    }

    &__image-text {
      width: 70%;
      line-height: 34px;
    }

    &__image-mobile {
      width: 72%;
    }
  }

  .photo-gallery {
    margin-bottom: 30px;
    &__image {
      width: 80%;
    }
  }

  .about-us-video {
    &__src {
      width: 75%;
    }
  }
}

@media (min-width: 720px) {
  .section-about-us {
    &__text {
      width: 67%;
      line-height: 36px;
    }

    &__image-mobile {
      width: 65%;
    }

    &__image-text {
      margin: 30px auto;
      width: 65%;
    }
  }

  .photo-gallery {
    &__image {
      width: 70%;
    }
  }

  .about-us-video {
    &__title {
      width: 72%;
    }

    &__src {
      width: 65%;
    }
  }
}

// landscape

@media (min-width: 480px) and (orientation: landscape) {
  .section-about-us {
    &__text {
      width: 78%;
      line-height: 28px;
    }

    &__image-mobile {
      width: 65%;
    }

    &__image-text {
      width: 70%;
    }
  }

  .photo-gallery {
    &__image {
      width: 65%;
    }
  }

  .about-us-video {
    &__src {
      width: 60%;
    }
  }
}

@media (min-width: 700px) and (orientation: landscape) {
  .section-about-us {
    &__image-text {
      width: 60%;
    }

    &__image-mobile {
      width: 55%;
    }

    &__text {
      width: 66%;
      line-height: 30px;
    }
  }

  .photo-gallery {
    &__image {
      width: 55%;
    }
  }

  .about-us-video {
    &__src {
      width: 55%;
    }
  }
}

// tablet/desktop

@media (min-width: 1024px) {
  .section-about-us {
    &__title {
      padding-top: 30px;
      padding-bottom: 0;
    }

    &__text {
      width: 65%;
      line-height: 34px;
    }

    &__image-text {
      margin: 35px auto;
      @include handleSize(55%, 16vh);
      box-shadow: 0 0 6px 1px #000;
    }

    &__image-mobile {
      display: none;
    }
  }

  .photo-gallery {
    display: grid;
    @include handleSize(68%, 46vh);
    margin: 20px auto 50px auto;
    padding-right: 30px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    gap: 12px 14px;

    &__image--one {
      display: block;
      grid-column: 1/2;
      grid-row: 1/3;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--two {
      grid-column: 2/3;
      grid-row: 1/2;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--three {
      display: block;
      grid-column: 3/4;
      grid-row: 1/3;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--four {
      grid-column: 4/5;
      grid-row: 1/2;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--five {
      grid-column: 2/3;
      grid-row: 2/3;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--six {
      grid-column: 4/5;
      grid-row: 2/3;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--seven {
      grid-column: 1/2;
      grid-row: 3/4;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--eight {
      grid-column: 2/3;
      grid-row: 3/4;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--nine {
      grid-column: 3/4;
      grid-row: 3/4;
      @include handleSize(100%, 100%);
      margin: 0;
    }

    &__image--ten {
      grid-column: 4/5;
      grid-row: 3/4;
      @include handleSize(100%, 100%);
      margin: 0;
    }
  }

  .about-us-video {
    &__title {
      margin: 25px auto;
    }

    &__src {
      width: 45%;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

@media (min-width: 1200px) {
  .section-about-us {
    &__text {
      width: 60%;
    }

    &__image-text {
      width: 48%;
    }
  }

  .photo-gallery {
    @include handleSize(60%, 54vh);
  }

  .section-about-us {
    &__src {
      width: 40%;
    }
  }

  .about-us-video {
    &__src {
      width: 40%;
    }
  }
}

@media (min-width: 1440px) {
  .section-about-us {
    &__text {
      margin: 25px auto;
      width: 63%;
      line-height: 38px;
    }
  }

  .photo-gallery {
    margin: 30px auto 55px auto;
    @include handleSize(70%, 56vh);
    row-gap: 14px;
  }

  .about-us-video {
    &__src {
      width: 35%;
    }
  }
}
