/*! SECTION ORDER TEA */

.section-order-tea {
  border-top: 2px dashed #000;
  padding-bottom: 20px;

  &__title {
    margin: 20px 20px 30px 20px;
    @include titleSection();
    @include handleTextProperty(500, center);
  }
}

.order-online-shop {
  margin-bottom: 25px;

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 8px 50px;
    border: 2px solid #000;
    @include clickItem();
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $darkGray;
  }
}

.order-stationary-shop {
  &__title {
    margin: 15px;
    @include subtitle();
    @include handleTextProperty(600, center);
    letter-spacing: 1px;
  }
}

.contact {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: 15px;
  background-color: #d4e6c2;
  @include handleFlex(column, space-around, center);
  width: 100%;

  &__box-items {
    @include handleFlex(column, space-around, center);
    @include handleSize(100%, 28vh);
  }

  &__item {
    width: 80%;
    padding: 5px;
  }

  &__icon {
    display: inline-block;
    margin-right: 35px;
    width: 3vw;
    font-size: 1.8rem;
  }

  &__info-text {
    display: inline-block;
    @include text();
  }
}

.city-map {
  display: block;
  margin: 20px auto 5px auto;
  @include handleSize(100%, 40vh);
  border: none;
}

// @MEDIA

// mobile

@media (min-width: 480px) {
  .contact {
    &__box-items {
      margin: 10px;
      @include handleSize(85%, 22vh);
    }

    &__icon {
      margin-right: 40px;
      font-size: 2.2rem;
    }
  }

  .section-order-tea {
    &__title {
      letter-spacing: 1px;
    }
  }

  .order-online-shop {
    &__btn {
      padding: 12px 70px;
    }
  }

  .order-stationary-shop {
    &__title {
      margin: 20px;
    }
  }

  .city-map {
    width: 90%;
  }
}

@media (min-width: 720px) {
  .contact {
    &__box-items {
      margin: 15px;
      height: 16vh;
    }

    &__item {
      width: 65%;
    }

    &__icon {
      margin-right: 50px;
      font-size: 2.3rem;
    }
  }

  .section-order-tea {
    &__title {
      margin: 25px;
    }
  }

  .order-stationary-shop {
    &__title {
      margin: 25px;
    }
  }

  .city-map {
    margin: 30px auto;
    @include handleSize(80%, 30vh);
  }
}

// landscape

@media (min-width: 480px) and (orientation: landscape) {
  .contact {
    &__box-items {
      @include handleSize(75%, 45vh);
    }
  }

  .section-order-tea {
    &__title {
      margin: 25px;
    }
  }
}

// tablet/desktop

@media (min-width: 1024px) {
  .section-order-tea {
    &__title {
      margin-top: 30px;
    }
  }

  .contact {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    height: 40vh;

    &__box-items {
      flex-basis: 45%;
      height: 25vh;
    }

    &__item {
      width: 70%;
    }

    &__icon {
      font-size: 2.5rem;
    }
  }

  .order-stationary-shop {
    margin-bottom: 30px;

    &__title {
      flex-basis: 100%;
    }
  }

  .order-online-shop {
    margin: 38px;

    &__btn {
      padding: 16px 100px;
      @include handlePositionLeft(relative, 0, 0);
      line-height: 18px;
      font-weight: 600;
      cursor: pointer;
      overflow: hidden;

      &::after {
        font-family: "Font Awesome\ 5 Free";
        content: "\f07a";
        @include handlePositionLeft(absolute, 50%, 50%);
        transform: translate(-50%, 40px);
        font-size: 2.5rem;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: translate(-50%, -50%);
      }
    }

    &__btn-text {
      display: block;
      transition: transform 0.5s;
    }

    &__btn:hover &__btn-text {
      transform: translateY(-65px);
    }
  }

  .city-map {
    flex-basis: 40%;
    margin: 0;
    height: 35vh;
  }
}

@media (min-width: 1200px) {
  .contact {
    &__box-items {
      flex-basis: 38%;
    }
  }
}

@media (min-width: 1440px) {
  .section-order-tea {
    @include maxWidth();
  }

  .order-online-shop {
    &__btn {
      padding: 16px 110px;
    }
  }

  .contact {
    &__box-items {
      flex-basis: 35%;
      height: 22vh;
    }
  }
}