/*! SECTION CHOOSE TEA */

.section-choose-tea {
  &__title {
    margin: 15px;
    @include titleSection();
    @include handleTextProperty(500, center);
    &--span {
      transition: 0.8s;
    }
  }
}

.select-tea {
  @include handleFlexShort(row);
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  @include handleSize(90%, 45vh);

  &__item {
    flex-basis: 43%;
    @include handlePositionLeft(relative, 0, 0);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 100px;

    &--black-tea {
      background-color: #0000002e;
    }

    &--green-tea {
      background-color: #cddebdad;
    }

    &--red-tea {
      background-color: #e6b8aecc;
    }

    &--white-tea {
      background-color: #e6e5bd4a;
    }
  }

  &__name {
    @include handleCenteringItems();
    width: 100%;
    @include clickItem();
    @include handleTextProperty(600, center);
  }

  &__leaf {
    display: block;
    padding-top: 8px;

    &--green-tea {
      color: #335f0d;
    }

    &--red-tea {
      color: #842a0f;
    }

    &--white-tea {
      color: #af9d5d;
    }
  }
}

// @MEDIA

// mobile

@media (min-width: 360px) {
  .select-tea {
    @include handleSize(85%, 42vh);
  }
}

@media (min-width: 480px) {
  .section-choose-tea {
    &__title {
      margin: 20px;
      letter-spacing: 1px;
    }
  }
  .select-tea {
    @include handleSize(75%, 40vh);
  }
}

@media (min-width: 720px) {
  .section-choose-tea {
    &__title {
      margin: 30px;
      letter-spacing: 2px;
    }
  }

  .select-tea {
    @include handleSize(70%, 32vh);
    &__item {
      flex-basis: 38%;
    }
  }
}

// landscape

@media (min-width: 480px) and (orientation: landscape) {
  .select-tea {
    height: 73vh;
    &__item {
      flex-basis: 40%;
    }
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .select-tea {
    @include handleSize(62%, 76vh);
    &__item {
      flex-basis: 38%;
    }
    &__leaf {
      padding-top: 10px;
    }
  }
}

// tablet/desktop

@media (min-width: 1024px) {
  .section-choose-tea {
    &__title {
      margin: 38px;
    }
  }

  .select-tea {
    @include handleSize(80%, 20vh);
    margin: 40px auto 30px auto;
    &__item {
      flex-basis: 18%;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  /* change color span title after mouseover on tea box */
  .section-choose-tea {
    &__title {
      &--span {
        transform: scale(1.1);
        &.on-black {
          background-color: #d1d1d1bf;
        }
        &.on-green {
          background-color: #dbe6d0;
        }
        &.on-red {
          background-color: #ecd8d3;
        }
        &.on-white {
          background-color: #f1eec6;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .select-tea {
    @include handleSize(75%, 18vh);
    &__item {
      flex-basis: 17%;
    }
  }
}
