// font-family
$fontMainTitle: "Amatic SC", cursive;

// colors
$delicateMint: #c6d0b8;
$gray: #d1d1d1;
$darkGray: #c1c1c1;
$lightGreen: #dde9d2;
$rose: #ebc6be;
$sunny: #f9db93;

// choose tea
$boxChooseGreen: #335f0d;
$boxChooseRed: #842a0f;
$boxChooseGold: #af9d5d;

// article choose tea
$sizeBoxShadow: 5px 5px 10px 1px;

// section about us
$widthItemsSection: 85%;
$marginItemsSection: 20px auto;
